<div class="form-contents">
    <div class="contents-main">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" name="name" id="" value="{{data2.name}}" placeholder="Name of the Book" autocomplete="off" required>
            </div>
        
            <div class="form-group">
                <label for="">Author</label>
                <input type="text" name="author" id="" value="{{data2.author}}" placeholder="Name of the Author" autocomplete="off" required>
            </div>
        
            <div class="form-group">
                <label for="">Price</label>
                <input type="number" name="price" id="" value="{{data2.price}}" placeholder="0000" autocomplete="off" required>
            </div>
        
            <div class="form-group">
                <label for="">Genre</label>
                <input type="text" name="genre" id="" value="{{data2.genre}}" placeholder="Comedy/Horror/Drama....." autocomplete="off" required>
            </div>
        
            <div class="form-group">
                <label for="">Quantity</label>
                <input type="number" name="quantity" id="" value="{{data2.quantity}}" placeholder="000" autocomplete="off" required>
            </div>
        
            <div class="form-group">
                <label for="">Rating</label>
                <input type="number" name="rating" id="" value="{{data2.rating}}" placeholder="Rating out of 5" autocomplete="off" required>
            </div>
        
            <div class="submit-button">
                {% if edit == True %}
                <button type="submit">Update</button>
                {% else %}
                <button type="submit">Submit</button>
                {% endif %}
            </div>
        </form>
    </div>
</div>